@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    color: #4b5771;
  }

  .dark {
    background-color: #191e27;
    /* transition: all .3s ease-in-out; */
  }
}



@layer base {
  h1 {
    @apply text-5xl;
    @apply font-bold;
  }

  h2 {
    @apply text-4xl;
    @apply font-bold;
  }

  h3 {
    @apply text-3xl;
    @apply font-bold;
  }

  h4 {
    @apply text-2xl;
    @apply font-bold;
  }
}