@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar- {
    border-radius: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b5771;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4b5771;
}

@layer components {
  html {
    font-family: 'Roboto', sans-serif;
    padding: 0rem .5rem;
    box-sizing: border-box;
    color: #4b5771;
    font-size: .9375rem;
  }

  .dark {
    background-color: #191e27;
    /* color: #eeeff2; */
    /* transition: all .3s ease-in-out; */
  }

  .contacts {
    height: calc(100vh - 6rem);
  }

}



@layer base {
  h1 {
    @apply text-5xl;
    @apply font-black;
  }

  h2 {
    @apply text-4xl;
    @apply font-black;
  }

  h3 {
    @apply text-3xl;
    @apply font-black;
  }

  h4 {
    @apply text-2xl;
    @apply font-black;
  }
}